@charset "UTF-8";
/*      font-family: 'Roboto Mono', monospace;
         font-family: 'Source Code Pro', monospace; */
* {
  margin: 0;
  padding: 0;
  font-family: "Source Code Pro", monospace;
  font-family: "Roboto Mono", monospace;
}

.titulos_h1-h6, h3, h1, h2, h4, h5, h6 {
  font-size: 250%;
  color: #273e4a;
  text-align: center;
  padding: 10px;
  margin: 10px;
  width: auto;
}

.logo_img--dimension, .footer_logos img, .header_whatsapp img, .header_icon-back img {
  width: 70px;
  height: 70px;
  margin: 5px;
  padding: 5px;
}

.animation_hover, .conteiner_nav ul li:hover, .header_whatsapp img:hover, .header_icon-back img:hover {
  transform: scale(1.2);
  transition: all 0.4s;
}

/*----------------------------------------->Dentro de caracteristicas comunes (↓)*/
html {
  font-size: 64.5%;
  color: #273e4a;
}

body {
  background: #c2c2c2;
  display: flex;
  align-items: center;
  min-height: 100vh;
  margin: 1px;
  padding: 1px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #bcbdb1;
  border: solid 1px #bcbdb1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  bottom: 0;
  margin-top: auto;
  grid-area: footer;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  grid-area: header;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #a6a8b5;
  min-height: 190px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-area: main;
}

nav {
  grid-area: nav;
  border-right: 1px solid #a6a8b5;
}

a {
  text-decoration: none;
  color: #273e4a;
  font-size: 1.5em;
}

h3 {
  width: 80%;
}

ul {
  list-style: none;
  width: 100%;
  height: 100%;
}

p {
  color: #273e4a;
  text-align: justify;
  font-weight: bold;
}

section {
  margin: 10px;
  padding: 5px;
  width: auto;
  height: auto;
}

.wrapper {
  margin: 1px;
  padding: 3px;
  width: 100%;
  height: auto;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 3fr 3fr 3fr;
  grid-template-areas: "header header header header" "nav main main main" "nav main main main" "nav main main main" "footer footer footer footer";
}

.colorLetter {
  color: #273e4a;
  border-bottom: 1px solid #a6a8b5;
  border-top: 1px solid #a6a8b5;
}

.active1 {
  box-shadow: 1px 1px 1px rgba(123, 121, 121, 0.653);
  width: 85%;
  border-radius: 5px;
}

/*----------------------------------------->Dentro de caracteristicas comunes (↑)*/
/*----------------------------------------->Dentro del header general (↓)*/
.header_conteiner-icons {
  display: flex;
}

/*----------------------------------------->Dentro del header general (↑)*/
/*----------------------------------------->Dentro del nav general (↓)*/
.conteiner_nav {
  display: flex;
}
.conteiner_nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.conteiner_nav ul li {
  flex-wrap: wrap;
  padding: 5px;
  text-align: center;
}
/*----------------------------------------->Dentro del nav general (↑)*/
/*----------------------------------------->Dentro del footer general (↓)*/
.footer_links ul li {
  margin: 5px;
  padding: 5px;
  display: inline;
}

.footer_logos li {
  display: inline;
}

/*----------------------------------------->Dentro del footer general (↑)*/
/*----------------------------------------->Dentro del main Index (↓)*/
.index_main_card {
  padding: 10px;
  font-size: 100%;
  display: flex;
  width: 100%;
  border-bottom: 1px solid #a6a8b5;
  margin: auto;
}
.index_main_card p {
  max-width: 50%;
  font-size: medium;
  padding: 5px;
  margin: auto;
  text-align: center;
}
.index_main_card img {
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
}

.card1 {
  flex-direction: row-reverse;
}

.card3 {
  flex-direction: row-reverse;
}

/*----------------------------------------->Dentro del main Index (↑)*/
/*----------------------------------------->Dentro del main About (↓)*/
.about_main_conteiner-img {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-flow: row wrap;
}
.about_main_conteiner-img img {
  max-width: 300px;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  object-fit: cover;
}

.about_main_text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}
.about_main_text h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
.about_main_text p {
  font-size: large;
  padding: 5px;
}

.section_about {
  border-bottom: 1px solid #a6a8b5;
  border-top: 1px solid #a6a8b5;
}

.paddingLeftOut {
  padding-left: 0;
}

/*----------------------------------------->Dentro del main About (↑)*/
/*----------------------------------------->Dentro del main Proyect (↓)*/
.proyect_main_container-img img {
  margin: 0px;
  padding: 10px;
  width: 97%;
  height: auto;
}

.proyect_main_text {
  padding: 15px;
  font-size: 150%;
  margin: 15px;
}

.sectionproyect div img {
  max-height: 700px;
  object-fit: scale-down;
}

/*----------------------------------------->Dentro del main Proyect (↑)*/
/*----------------------------------------->Dentro del main service(↓)*/
.container_main-service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.service_conteiner_form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 5px;
  padding: 5px;
  border: 1px solid #a6a8b5;
}
.service_conteiner_form div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  font-size: small;
  width: 50%;
}
.service_conteiner_form div img {
  width: 100%;
  object-fit: contain;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.service_main_form {
  width: 70%;
  background-color: #bcbdb1;
  -webkit-box-shadow: 21px 15px 38px -3px #c2c2c2;
  box-shadow: 21px 15px 38px -3px #c2c2c2;
  color: #273e4a;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.send_bottom {
  background-color: #bcbdb1;
  box-shadow: 21px 15px 38px -3px #c2c2c2;
  color: #273e4a;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

/*----------------------------------------->Dentro del main service(↑)*/
/*----------------------------------------->Dentro del main Contact(↓)*/
.contact_conteiner_form {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
}

.contact_main_form {
  background-color: #bcbdb1;
  box-shadow: 21px 15px 38px -3px #c2c2c2;
  color: #273e4a;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

.contact_maps {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 90%;
  border-radius: 10px;
}

/*----------------------------------------->Dentro del main Contact(↑)*/
/*----------------------------------------->Dentro del main Terms and terms & conditions(↓)*/
.terms_text {
  margin: auto;
  padding: 5px;
  max-width: 650px;
}

/*----------------------------------------->Dentro del main Terms and terms & conditions(↑)*/
/*----------------------------------------->Dentro del @media (↓)*/
@media (min-width: 1px) and (max-width: 575px) {
  .wrapper {
    margin: 15px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-areas: "header" "nav" "main" "footer";
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-area: header;
    box-shadow: 2px 2px 10px #c2c2c2;
    background-color: colorCuatro;
    width: 100%;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #bcbdb1;
    border: solid 1px #bcbdb1;
    box-shadow: 2px 2px 10px #c2c2c2;
    bottom: 0;
    grid-area: footer;
  }

  .footer_links ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
  .footer_links ul li:hover {
    display: flex;
    flex-wrap: wrap;
    transform: scale(1.3);
    transition: all 0.5s;
  }
  .footer_links ul li a {
    font-size: 10px;
  }

  .footer_logos img {
    margin: 5px;
    padding: 5px;
    width: 30px;
    height: 30px;
  }
  .footer_logos img:hover {
    transform: scale(1.3);
    transition: all 0.4s;
  }

  .footer_logos {
    display: flex;
  }
  .footer_logos li {
    display: inline;
  }

  .conteiner_nav {
    margin: 5px;
    display: flex;
    flex-flow: column wrap;
  }
  .conteiner_nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 5px;
    margin: 5px;
    font-size: 15px;
  }
  .conteiner_nav ul li:hover {
    transform: scale(1.3);
    transition: all 0.5s;
  }

  .index_main_card {
    display: flex;
    flex-flow: column wrap;
  }
  .index_main_card p {
    max-width: 100%;
  }

  .contact_conteiner_form textarea {
    width: 180px;
  }
  .contact_conteiner_form input {
    width: 200px;
  }

  nav {
    grid-area: nav;
    border-right: 0px solid white;
    border-bottom: 1px solid #a6a8b5;
    border-top: 1px solid #a6a8b5;
  }

  .active1 {
    box-shadow: 0px 0px 1px #273e4a;
    max-width: max-content;
    border-radius: 5px;
  }

  .service_conteiner_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    border: 1px solid #a6a8b5;
  }
  .service_conteiner_form div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    width: 100%;
  }
  .service_conteiner_form div img {
    width: 100%;
    object-fit: contain;
  }

  .about_main_conteiner-img img {
    max-width: 90%;
  }
}
@media (min-width: 576px) and (max-width: 992px) {
  .wrapper {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "header header" "nav nav" "main main" "footer footer";
  }

  .conteiner_nav {
    display: flex;
  }
  .conteiner_nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  .conteiner_nav ul li:hover {
    transform: scale(1.3);
    transition: all 0.5s;
  }

  .footer_links ul li a {
    font-size: 12px;
  }

  .contact_maps {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 90%;
  }

  .index_main_card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .index_main_card p {
    max-width: 85%;
  }

  nav {
    grid-area: nav;
    border-right: 0px solid white;
    border-bottom: 1px solid #a6a8b5;
    border-top: 1px solid #a6a8b5;
  }

  .active1 {
    box-shadow: 0px 0px 3px rgba(123, 121, 121, 0.653);
    max-width: max-content;
    border-radius: 5px;
  }
}
/*----------------------------------------->Dentro del @media(↑)*/

/*# sourceMappingURL=style.css.map */
